###############################################################################
#                                                                             #
# fhem_hm_roll.cfg                                 Wolfram Plettscher 05/2017 #
# included into fhem_main.cfg                                                 #
#                                                                             #
# configure all Homematic roll                                                #
#                                                                             #
###############################################################################


### Dimmer WohnBilder
#define Dimmer_WohnBilder CUL_HM 1A6D5F
#attr Dimmer_WohnBilder model HM-LC-Dim1TPBU-FM
#attr Dimmer_WohnBilder serialNr JEQ0205956
#attr Dimmer_WohnBilder IODev cuno1
#attr Dimmer_WohnBilder room Licht,Wohnzimmer
#attr Dimmer_WohnBilder group Licht
#attr Dimmer_WohnBilder eventMap /off:off/30:on/50:50/
#attr Dimmer_WohnBilder subType dimmer
#attr Dimmer_WohnBilder webCmd off:on:50
#
#attr Dimmer_WohnBilder fp_erdgeschoss 318,339,0,WohnBilder
#attr Dimmer_WohnBilder devStateIcon off:off:30 on:on:0 .*:dim50%:0

### Rollade unten: Ab, off, 0%
### Rollade oben: Auf, on, 100%
define roll_Buero CUL_HM 52B93E
attr roll_Buero IODev cuno1
attr roll_Buero model HM-LC-B11PBU-FM
attr roll_Buero serialNr NEQ1769170
attr roll_Buero subType blindActuator
#attr roll_Buero webCmd statusRequest:toggleDir:on:off:up:down:stop
#attr roll_Buero eventMap /off:Ab/20:Sun/on:Auf/
attr roll_Buero eventMap /off:Ab/20:Sun/on:Auf/
attr roll_Buero webCmd Auf:Sun:Ab

attr roll_Buero group Rolladen
attr roll_Buero room Rolladen,OG,Buero
attr roll_Buero fp_obergeschoss 293,327,5,roll_Buero
attr roll_Buero devStateIcon Auf:fts_shutter_10@green:0 Sun:fts_shutter_50@yellow:100 Ab:fts_shutter_100@green:100 .*:fts_shutter_30@red:100


#define roll_Buero FS20 7777 06
#attr roll_Buero model fs20rsu
#attr roll_Buero IODev cul1
#attr roll_Buero group Rolladen
#attr roll_Buero eventMap /off:Ab/on:Auf/
#attr roll_Buero webCmd Auf:Ab
#attr roll_Buero room Rolladen,OG,Buero
#attr roll_Buero fp_obergeschoss 314,345,0,roll_Buero
#attr roll_Buero devStateIcon Auf:fts_shutter_10 Ab:fts_shutter_100



