###############################################################################
#                                                                             #
# /etc/fhem/fhem_fs20_roll.cfg                     Wolfram Plettscher 12/2018 #
# included into fhem_main.cfg                                                 #
#                                                                             #
# define FS20 rollade components into FHEM                                    #
#                                                                             #
###############################################################################

define roll_Gast FS20 7777 01
attr roll_Gast model fs20rsu
attr roll_Gast IODev cul1
attr roll_Gast group Rolladen
attr roll_Gast eventMap /off:Ab/on:Auf/
attr roll_Gast webCmd Auf:Ab:
attr roll_Gast room Rolladen,EG,Gast
attr roll_Gast fp_erdgeschoss 961,880,0,roll_Gast
attr roll_Gast devStateIcon Auf:fts_shutter_10 Ab:fts_shutter_100

define roll_Kueche FS20 7777 02
attr roll_Kueche model fs20rsu
attr roll_Kueche IODev cul1
attr roll_Kueche group Rolladen
attr roll_Kueche eventMap /off:Ab/on:Auf/
attr roll_Kueche webCmd Auf:Ab
attr roll_Kueche room Rolladen,EG,Kueche
attr roll_Kueche fp_erdgeschoss 847,431,0,roll_Kueche
attr roll_Kueche devStateIcon Auf:fts_shutter_10 Ab:fts_shutter_100


define roll_Esszimmer FS20 7777 03
attr roll_Esszimmer model fs20rsu
attr roll_Esszimmer IODev cul1
attr roll_Esszimmer group Rolladen
attr roll_Esszimmer eventMap /off:Ab/on:Auf/
attr roll_Esszimmer webCmd Auf:Ab
attr roll_Esszimmer room Rolladen,EG,Wohnzimmer
attr roll_Esszimmer fp_erdgeschoss 591,160,0,roll_Esszimmer
attr roll_Esszimmer devStateIcon Auf:fts_shutter_10 Ab:fts_shutter_100

define roll_TerrEssz FS20 7777 04
attr roll_TerrEssz model fs20rsu
attr roll_TerrEssz IODev cul1
attr roll_TerrEssz group Rolladen
attr roll_TerrEssz eventMap /off:Ab/on:Auf/
attr roll_TerrEssz webCmd Auf:Ab
attr roll_TerrEssz room Rolladen,EG,Wohnzimmer
attr roll_TerrEssz fp_erdgeschoss 457,228,0,roll_TerrEssz
attr roll_TerrEssz devStateIcon Auf:fts_shutter_10 Ab:fts_shutter_100

define roll_TerrWohnz FS20 7777 05
attr roll_TerrWohnz model fs20rsu
attr roll_TerrWohnz IODev cul1
attr roll_TerrWohnz group Rolladen
attr roll_TerrWohnz eventMap /off:Ab/on:Auf/
attr roll_TerrWohnz webCmd Auf:Ab
attr roll_TerrWohnz room Rolladen,EG,Wohnzimmer
attr roll_TerrWohnz fp_erdgeschoss 274,419,0,roll_TerrWohnz
attr roll_TerrWohnz devStateIcon Auf:fts_shutter_10 Ab:fts_shutter_100

#define roll_Bad FS20 7777 08
#attr roll_Bad model fs20rsu
#attr roll_Bad IODev cul1
#attr roll_Bad group Rolladen
#attr roll_Bad eventMap /off:Ab/on:Auf/
#attr roll_Bad webCmd Auf:Ab
#attr roll_Bad room Rolladen,OG,Bad
#attr roll_Bad fp_obergeschoss 941,1131,0,roll_Bad
#attr roll_Bad devStateIcon Auf:fts_shutter_10 Ab:fts_shutter_100

