###############################################################################
#                                                                             #
# /etc/fhem/fhem_timer.cfg                         Wolfram Plettscher 06/2017 #
# included into fhem.cfg                                                      #
#                                                                             #
# define FHEM timer                                                           #
#                                                                             #
###############################################################################

###############################################################################
#                                                                             #
# Define morning ring-up scenario                                             #
#                                                                             #
###############################################################################
define ringup notify ringup \
  set Dimmer_Schlaf_a pct 17;;\
  set Dimmer_Schlaf_b pct 17;;\
  set SteckdoseKaffee on;;\
  set hs_zirkpumpe on-for-timer 600;;\
  define ringup2 at +00:10:00 set Dimmer_Schlaf_a pct 37;;\
  define ringup3 at +00:10:00 set Dimmer_Schlaf_b pct 37;;\
  define ringup6 at +00:10:00 {\
    if (Value ("roll_Schlaf") eq "Ab") {\
      fhem ("set roll_Schlaf Morning")\
    }\
  };;\
  define ringup4 at +00:40:00 set Dimmer_Schlaf_a pct 0;;\
  define ringup5 at +00:40:00 set Dimmer_Schlaf_b pct 0

define wakenew at *06:30:00 {fhem("trigger ringup") if (!$we)}
attr wakenew disable 0
attr wakenew room Timer,Schlafzimmer

define wakenew2 at *08:00:00 {fhem("trigger ringup")}
attr wakenew2 disable 1
attr wakenew2 room Timer,Schlafzimmer

###############################################################################
#                                                                             #
# Define morning Rollade scenario                                             #
#                                                                             #
###############################################################################
define t_roll_auf_wk at *09:00:00 {fhem("trigger ntf_roll_morgen") if (!$we)}
attr t_roll_auf_wk disable 0
attr t_roll_auf_wk room Timer

define t_roll_auf_we at *09:00:00 {fhem("trigger ntf_roll_morgen") if ($we)}
attr t_roll_auf_we disable 0
attr t_roll_auf_we room Timer

define t_roll_auf_hol at *08:30:00 {fhem("trigger ntf_roll_morgen")}
attr t_roll_auf_hol disable 1
attr t_roll_auf_hol room Timer


###############################################################################
#                                                                             #
# Define evening Rollade scenario                                             #
#                                                                             #
###############################################################################
define t_roll_ab at *22:00:00 {fhem("trigger ntf_roll_abend")}
attr t_roll_ab room Timer

###############################################################################
#                                                                             #
# Try to open Server-Roof, if closed and temperature > 25°C                   #
# Close Server-Roof, if open and temperature < 20°C                           #
#                                                                             #
###############################################################################
define t_autoDachServer at +*00:15 {\
  if (Value("AutoDachServer") eq "on") {\
    if ((Value("Fenster_Serverraum") eq "off") && \
        (ReadingsVal ("T.Server", "temperature", "0") > 25)) {\
      fhem ("set Dachfenster_Serverraum on")\
    };;\
    if ((Value("Fenster_Serverraum") eq "on") && \
        (ReadingsVal ("T.Server", "temperature", "0") < 20)) {\
      fhem ("set Dachfenster_Serverraum off")\
    }\
  }\
}
attr t_autoDachServer room Timer

###############################################################################
#                                                                             #
# Trigger Beschattung                                                         #
#                                                                             #
###############################################################################
define t_beschattung at +*00:05 {\
  if (Value("AutoBeschattung") eq "on") {\
    fhem ("trigger kschatt")\
  }\
}
attr t_beschattung room Timer

###############################################################################
#                                                                             #
# Auto Turn off lights at night                                               #
#                                                                             #
###############################################################################
define t_autoOffLight at *23:15:00 {\
  if (Value("OutOfHome") eq "on") {\
    fhem ("set Dimmer_Galerie off")\
  };;\
  if (Value("AutoVorgarten") eq "on") {\
    fhem ("set BaeumeVorgarten off")\
  }\
}
attr t_autoOffLight room Timer
