###############################################################################
#                                                                             #
# fhem_grafana.cfg                                 Wolfram Plettscher 01/2019 #
# included into fhem_main.cfg                                                 #
#                                                                             #
# get Grafana grafics                                                         #
#                                                                             #
###############################################################################

###############################################################################
# provide data to InfluxDB                                                    #
###############################################################################
define Influx_temperature InfluxDBLog 5.35.255.242 8086 fhem grafana grafana *:temperature:.*
define Influx_humidity InfluxDBLog 5.35.255.242 8086 fhem grafana grafana *:humidity:.*
define Influx_mess6_curr InfluxDBLog 5.35.255.242 8086 fhem grafana grafana mess6:current:.*
define Influx_mess6_tot InfluxDBLog 5.35.255.242 8086 fhem grafana grafana mess6:total:.*

### Yello Stromzähler
define Influx_yello2 InfluxDBLog 5.35.255.242 8086 fhem grafana grafana yello2:AVG:.*
define Influx_yello2_HT InfluxDBLog 5.35.255.242 8086 fhem grafana grafana yello2:HT:.*
define Influx_yello3 InfluxDBLog 5.35.255.242 8086 fhem grafana grafana yello3:AVG:.*
define Influx_yello3_HT InfluxDBLog 5.35.255.242 8086 fhem grafana grafana yello3:HT:.*

### Homematic Stromzähler
define Influx_HMpower InfluxDBLog 5.35.255.242 8086 fhem grafana grafana HMPower.*:power:.*

### Eisspeicher
#define Influx_Eisf_tEis InfluxDBLog 5.35.255.242 8086 fhem grafana grafana Eisf:tEisspeicher:.*
#define Influx_Eisf_tDach InfluxDBLog 5.35.255.242 8086 fhem grafana grafana Eisf:tDach:.*
define Influx_Eis InfluxDBLog 5.35.255.242 8086 fhem grafana grafana Eis.*:eis_.*
#define Influx_Eism InfluxDBLog 5.35.255.242 8086 fhem grafana grafana Eism:eis_.*

### Dachfenster
define Influx_statenum InfluxDBLog 5.35.255.242 8086 fhem grafana grafana *:statenum:.*

###############################################################################
# Graphs for fp_homecontrol                                                   #
###############################################################################

### power consumption last 24h
define graph_energie weblink iframe http://pluto.plettscher.de:3000/d-solo/Kcd50MQmk/haustechnik-neuhonrath?refresh=30s&orgId=1&panelId=12
attr graph_energie htmlattr width="385" heigt="150" frameborder="0"
attr graph_energie fp_homecontrol 100,1160,0,energie

### temperature inside last 3days
define graph_tinside weblink iframe http://pluto.plettscher.de:3000/d-solo/Kcd50MQmk/haustechnik-neuhonrath?refresh=30s&orgId=1&panelId=14
attr graph_tinside htmlattr width="385" heigt="150" frameborder="0"
attr graph_tinside fp_homecontrol 260,1160,0,temperature

### temperature outside last 3days
define graph_toutside weblink iframe http://pluto.plettscher.de:3000/d-solo/Kcd50MQmk/haustechnik-neuhonrath?refresh=30s&orgId=1&panelId=16
attr graph_toutside htmlattr width="385" heigt="150" frameborder="0"
attr graph_toutside fp_homecontrol 420,1160,0,temperature
